<div class="container">
  <div *ngIf="!isRatingOver" class="book-card">
    <div class="row">
      <div class="left-side">Book Title</div>
      <div class="right-side">{{ books[index].title }}</div>
    </div>
    <div class="row">
      <div class="left-side">Book Description</div>
      <div class="right-side">{{ books[index].description }}</div>
    </div>
    <div class="row">
      <div class="left-side">Book Author</div>
      <div class="right-side">{{ books[index].author }}</div>
    </div>
    <div class="row">
      <div class="left-side">Current Rating</div>
      <div class="right-side">{{ calculateRating() }}</div>
    </div>
    <div class="buttons-container">
      <button
        class="button"
        *ngFor="let number of [1, 2, 3, 4, 5]"
        (click)="addRating(number)"
      >
        {{ number }}
      </button>
    </div>
  </div>

  <div *ngIf="isRatingOver" class="text-align-center">
    <p class="end-message">You have rated all the books!</p>
    <button class="button" (click)="confirmReset()">Rate them again</button>
    <button class="button" (click)="confirmFinish()">No, I'm done</button>
  </div>
</div>